.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-top: 96.154rpx;
  
    .top{
            width: 100%;
            height: 92.308rpx;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 28.846rpx;
            margin: 38.462rpx 0;
    }
    .content{
        width: 100%;
        display: flex;
        padding: 19.231rpx;
        box-sizing: border-box;
        font-size: 30.769rpx;
        justify-content: space-between;
        background-color: white;
        border-radius: 28.846rpx;
        .content_right{
            margin-left: 19.231rpx;
            .content_right_item{
                margin-bottom: 9.615rpx;
                display: flex;
                align-items: center;
                font-size: 30.769rpx;
                checkbox .wx-checkbox-input {
                    width: 9.615rpx;
                    height: 9.615rpx;
                    padding: 9.615rpx;
                    border-color:#BBBBBB;
                }
                checkbox .wx-checkbox-input.wx-checkbox-input-checked {
                    background: #005826;
                    
                    color: white;
                  }
            }
            textarea{
                background-color: white;
                border:  1.923rpx solid #BBBBBB;
                padding: 19.231rpx;
                font-size: 26.923rpx;
                box-sizing: border-box;
                min-width: 538.462rpx;
                min-height: 192.308rpx;
            }
        }
    }
    .content_form {
        border-radius: 9.615rpx;
        padding: 19.231rpx;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        .underReview{
            width: 90%;
            background-color: white;
            height: 446px;
            padding-top: 70px;
            box-sizing: border-box;

        }
        .form_img {
            .form_title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                height: 57.692rpx;
                align-items: center;
                font-size: 30.769rpx;

                .img_num {
                    color: #B7B7B7;
                }
            }

            .form_img_imgs {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                min-height: 153.846rpx;
                max-height: 632.692rpx;
                overflow: scroll;
                margin: 19.231rpx 0;
                padding: 0 19.231rpx;
                box-sizing: border-box;
                flex-wrap: wrap;

                .form_img_imgs_item {
                    flex: 1;
                    min-width: 153.846rpx;
                    display: flex;
                    margin: 0 67.308rpx 19.231rpx 0; // 间隙为9.615rpx
                    background-color: #999;
                    width: calc((100% - 134.615rpx) / 3); // 这里的19.231rpx = (分布个数3-1)*间隙9.615rpx, 可以根据实际的分布个数和间隙区调整
                    min-width: calc((100% - 134.615rpx) / 3); // 加入这两个后每个item的宽度就生效了
                    max-width: calc((100% - 134.615rpx) / 3); // 加入这两个后每个item的宽度就生效了
                    min-height: 153.846rpx;

                    &:nth-child(3n) {
                        // 去除第3n个的margin-right
                        margin-right: 0;
                    }
                }

                .noExperience {
                    flex: 1;
                    min-width: 334.615rpx;
                    display: flex;
                    margin: 0 9.615rpx 9.615rpx 0; // 间隙为9.615rpx
                    background-color: #999;
                    width: calc((100% - 9.615rpx) / 2); // 这里的19.231rpx = (分布个数3-1)*间隙9.615rpx, 可以根据实际的分布个数和间隙区调整
                    min-width: calc((100% - 9.615rpx) / 2); // 加入这两个后每个item的宽度就生效了
                    max-width: calc((100% - 9.615rpx) / 2); // 加入这两个后每个item的宽度就生效了
                    min-height: 153.846rpx;

                    &:nth-child(2n) {
                        // 去除第3n个的margin-right
                        margin-right: 0;
                    }
                }
            }

            .certificateDescription {
                display: flex;
                flex-direction: column;
                border-bottom: 1.923rpx solid #005826;
                margin: 38.462rpx 19.231rpx;

                .certificateDescription_item {
                    font-size: 30.769rpx;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 67.308rpx;

                    .icon-jiahao {
                        font-size: 46.154rpx;
                        color: #005826;
                    }

                    input {
                        font-size: 26.923rpx;
                    }

                    .topay {
                        width: 153.846rpx;
                        height: 57.692rpx;
                        background-color: #005826;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 9.615rpx;
                        font-size: 26.923rpx;
                    }
                }
            }

            .noline {
                border: none;
            }
        }

        .upload {
            width: 100%;
            display: flex;
            justify-content: center;

            .upload_submit {
                width: 461.538rpx;
                height: 92.308rpx;
                background-color: #005826;
                border-radius: 73.077rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                position: absolute;
                bottom: 96.154rpx;
                left: calc(50%-230.769rpx);
            }
        }
        .underReview{
            display: flex;
            flex-direction: column;
            align-items: center;
            view{
                margin: 19.231rpx 0;
            }
            .iconfont{
                font-size: 153.846rpx;
                color: #BD3124;
            }
            .customerService{
            display: flex;
            position: absolute;
            right: 19.231rpx;
            bottom: 0;
            font-size: 30.769rpx;
            color: #005826;
            align-items: center;
            .icon-kefu{
                margin-right: 9.615rpx;
                font-size: 38.462rpx;
                color: #005826;
            }
            view:nth-child(2){
                text-decoration: underline;
            }
            }

        }
    }
   
    .uploadImg{
        margin-top: 57.692rpx;
        width: 100%;
        height: 188.462rpx;
        background-color: white;
        padding: 19.231rpx 28.846rpx;
        box-sizing: border-box;
        border-radius: 28.846rpx;
        font-size: 30.769rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .addImg{
            width: 86.538rpx;
            height: 86.538rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1.923rpx solid #ccc;
        }
    }
    .customerService{
        display: flex;
        font-size: 30.769rpx;
        color: #005826;
        align-items: center;
        justify-content: flex-end;
        margin: 38.462rpx 19.231rpx   ;
        .icon-kefu{
            margin-right: 9.615rpx;
            font-size: 38.462rpx;
            color: #005826;
        }
        view:nth-child(2){
            text-decoration: underline;
        }
        }
    .buttons{
        display: flex;
        padding: 0 96.154rpx;
        justify-content: space-between;
        margin: 57.692rpx 0;
        view{
            font-size: 38.462rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #005826;
            width: 211.538rpx;
            height: 92.308rpx;
            border-radius: 73.077rpx;
        }
        view:nth-child(1){
            background-color: rgba($color: #005826, $alpha: 0.44);
        }
    }
}